# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# dotenv environment variables file
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*